<div class="fade-in" v-if="!loaded">Loading…</div>
<div v-cloak v-if="loaded">
  <h1>Apps</h1>
  <div>
    <h2>{{ apps.length }} of {{ user.appLimit }} apps</h2>
    <ol>
      <li v-for="app in apps"><a :href="`/app/${app.id}`">{{ app.name }}</a></li>
    </ol>

    <p v-if="apps.length === 0">
      Start by creating an app to send and receive data.</p>
    </p>
    <p v-if="apps.length < user.appLimit">
      <a class="button" href="/app/new" v-show="apps.length < user.appLimit">Create new app</a>
    </p>

    <p v-else>
      <em>You've reached your app limit. If you really do need more, <a
          href="mailto:remy@remysharp.com?subject=nextapp limit">please get in touch with details
          as
          to what you plan.</a>.</em>
    </p>

  </div>
  <hr>
  <div>
    <p>Account: {{ user.email }}</p>
    <p><a href="/change-password">change password</a></p>
  </div>
</div>
<script src="/account.js"></script>
