html {
  --c-fg: #111;
  --c-bg: #fefefe;
  --c-bg-alt: #eee;
  --c-border: #999;
  --c-cta: blue;
}

@media (prefers-color-scheme: dark) {
  html {
    --c-bg: #222;
    --c-fg: #efefef;
    --c-bg-alt: #000;
    --c-cta: hotpink;
  }
}

body {
  max-width: 640px;
  padding: 20px;
  margin: 0 auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background: var(--c-bg);
  color: var(--c-fg);
}

input,
select,
textarea {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  padding: 4px;
}

input[type='submit'],
button {
  background: var(--c-cta);
  border: 0;
  padding: 4px 8px;
  border-radius: 2px;
  color: var(--c-bg);
}

input[type]:not([type='submit']) {
  border: 1px solid var(--c-border);
  border-radius: 2px;
}

form label {
  display: block;
  margin-bottom: 12px;
}

p {
  line-height: 1.4;
}

a {
  color: var(--c-cta);
}

code {
}

summary {
  cursor: pointer;
}

summary h3 {
  display: inline;
}

details {
  padding: 16px;
  background: var(--c-bg-alt);
}

details pre {
  overflow: scroll;
}

details + details {
  margin-top: 20px;
}

@media (max-width: 900px) {
  pre {
    overflow: scroll;
  }
}
