html {
  --c-fg: #111;
  --c-bg: #fefefe;
  --c-bg-alt: #eee;
  --c-border: #999;
  --c-cta: blue;
}

@media (prefers-color-scheme: dark) {
  html {
    --c-bg: #222;
    --c-fg: #efefef;
    --c-bg-alt: #171717;
    --c-cta: hotpink;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  max-width: 640px;
  padding: 20px;
  margin: 0 auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background: var(--c-bg);
  color: var(--c-fg);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

input,
select,
textarea {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  padding: 4px;
}

input[type='submit'],
button,
.button {
  display: inline-block;
  cursor: pointer;
  background: var(--c-fg);
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--c-bg);
  border: 1px solid var(--c-bg);
  text-decoration: none;
}

input[type='submit']:hover,
button:hover,
.button:hover {
  border: 1px solid var(--c-fg);
}

input[type]:not([type='submit']) {
  border: 1px solid var(--c-border);
  border-radius: 2px;
}

form label {
  display: block;
}

p {
  line-height: 1.4;
}

a {
  color: var(--c-cta);
}

summary {
  cursor: pointer;
  user-select: none;
}

summary h3 {
  display: inline;
}

details {
  padding: 16px;
  border-radius: 2px;
  background: var(--c-bg-alt);
}

#docs details[open] summary {
  font-weight: bold;
}

details pre {
  overflow: scroll;
}

details + details {
  margin-top: 20px;
}

@media (max-width: 900px) {
  pre {
    overflow: scroll;
  }
}

.hex {
  font-size: 12px;
  width: 54ch;
  white-space: pre-wrap;
  line-height: 18px;
  letter-spacing: 1px;
}

summary {
  /* display: block; */
}

summary > span {
  width: 100%;
}

details[open] summary button {
  display: none;
}

[v-cloak] {
  display: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*--keyframe pointer --*/
.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 2s;
}

#app header {
  display: flex;
  justify-content: space-between;
}

.view-as {
  text-align: right;
}

.view-as div label {
  display: block;
}

label {
  cursor: pointer;
}

.current-payload .controls {
  padding: 16px 0;
}

.current-payload .controls button {
  margin-right: 16px;
}

button.file {
  display: inline-flex;
  position: relative;
  cursor: pointer !important;
  justify-content: center;
  overflow: hidden;
}

button.file input {
  z-index: 10;
  width: 100%;
  cursor: pointer !important;
  opacity: 0;
  display: block;
  position: absolute;
  margin: 0 !important;
  padding-left: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

code {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset > div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

fieldset > div > label {
  width: 100px;
}

fieldset > div > label + input + span {
  margin-left: 8px;
}

hr {
  border-top: 0;
  border-color: var(--c-border);
}

ul,
ol {
  margin-top: 0;
  padding: 16px;
}

li {
  margin: 16px 0;
}

h2 {
  margin-bottom: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
